html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: hsl(0. 0%, 100%); /*radial-gradient(ellipse at center, $background-color 60%, color($background-color b(+30)) 100%) fixed;*/ 
    background-repeat: no-repeat;
    background-size: cover;    
    letter-spacing: 0.1em;
}

#splash {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}
#content--main {
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =====================
Section
===================== */
.section {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    z-index: 1;
    /*background: hsla(0, 0%, 100%,.5);*/
    /*transition: opacity .5s cubic-bezier(.77,0,.175,1);*/
    overflow: hidden;
}

.section__title {
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.section__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    max-width: 1280px;    
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
    padding: 2.5em 0 3.25em 0;
    vertical-align: middle;
    z-index: +2;
}

/* =====================
Content
===================== */
.content__row:not(:last-child) {
	display: block;
	margin-bottom: 1.5em;
}

.content__block {
	display: inline-block;
	opacity: .85;
	padding: 1.5em .75em 1em .75em;
	margin: 0 0 0 auto;
	text-align: left;
	background: hsla(0,0%,100%,1);
	border: 2px solid transparent; 
	box-shadow: 0 0 0 hsl(0,0%,0%);
	transition: all .7s cubic-bezier(.77,0,.175,1);
}

.section--active .content__block {
	opacity: 1;
	border: 2px solid $color-black;
	box-shadow: .75em .75em 0 hsl(0,0%,0%);
	transition: all .7s cubic-bezier(.77,0,.175,1);
}

.content__head {
  display: inline-block;
  margin: 0 0 1.5rem 0;
}
h3 {
  display: block;
  margin: 0 0 .25em 0;
}

.content__text,
.content__list {
  margin: 0 0 1.5em 0;
  padding: 0;
}
.content__list {
  list-style-type: none;
}
.content__list li {
  display: block;
  margin: .15em;
  padding: 0 .1em;
}
.content__list--inline {
  margin-bottom: .1em;
}
.content__list--inline li {
  display: inline-block;
}
.content__list--padded {
  margin-bottom: 1.3em;
}

