/* =====================
Heart
===================== */
#section--heart {
  background: $heart-bg-img;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
 
  .section__header {
      background: $heart-head-bg;    
  }
  .section__content {
    background: $heart-content-bg;
  }    
  .content__head {
      color: $heart-head-color;
  }
}