/* =====================
Hands
===================== */
#section--hands {
  background: $hands-bg-img;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
 
  .section__header {
      background: $hands-head-bg;    
  }
  .section__content {
    background: $hands-content-bg;
  }   
  .content__head {
      color: $hands-head-color;
  }   
}