/* =====================
Hands
===================== */
#section--hands {
  background: url(../img/bg_hand01.jpg);
  background-position: center center;
  background-size: 110%;
  background-repeat: no-repeat;
 
  .section__header {
      background: hsla(150,50%,50%,.25);    
  }
  .content__head {
      color: hsl(148, 58%, 26%);
  }   
}

.section__content {
  background: linear-gradient(135deg, hsla(60,30%,90%,.8) 20%, hsla(0,0%,100%,.97));
} 