/* =====================
Quotes
===================== */
#section--quote,
#section--contact {
  background: url(../img/bg_ear01.jpg);
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  .section__content {
      padding-left: 5em;
      padding-right: 5em;
      background: linear-gradient(135deg, hsla(60,30%,90%,.9) 20%, hsla(0,0%,100%,.9));
  }
  .content__row {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: none;
  }
}


#section--quote { 
  .section__header {
      background: hsla(260,50%,50%,.25);    
  }
  blockquote:before {
    color: hsl(339, 15%, 65%);
  }
}
#section--contact { 
  .section__header {
      background: hsla(30,50%,50%,.25);    
  }  
}