/* =====================
Head
===================== */
#section--head {
  background: $head-bg-img;
  background-position: center center;
  background-size: 110%;
  background-repeat: no-repeat;

  .section__header {
      background: $head-head-bg;    
  }
  .section__content {
    background: $head-content-bg;
  }   
  .content__head {
      color: $head-head-color;
  }    
}